body{
    /* google font */

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

 /* poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  } */
}
/* navber */

/* asidebar */
:root{
    --offcanvus-width:250px;
}
.sidebar-nav{
    width: var(--offcanvus-width) !important;
}
@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
 main{
    margin-left: var(--offcanvus-width);
 }
    /* .offcanvas-backdrop::before{
        display: none;
    } */
    .sidebar-nav{
      transform: none !important;
      visibility: visible !important;
    
    } 
    
    .navbar{
        transform: none;
        visibility:hidden !important;
    }
}
.name{
    /* background: -webkit-linear-gradient( #76ABAE,#eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background: #76ABAE;
background: linear-gradient(to right, #76ABAE 0%, #ffffff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  
}

.active{
    color: #76ABAE !important;
}
.nav-item .nav-link:active{
    color: #76ABAE !important;
}
.nav-item .nav-link:hover{
    color: #76ABAE !important;
}
.social{
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.social:hover{
    color: #76ABAE !important;
    transform:scale(1.2) ;
}
/* first section */
.bg-first-section{
    background-image:url(./image/b.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
    z-index: 1;
    position: relative !important;
}
.bg-first-section::before{
    background-size: cover;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.732);
}
.wrapper{
    height: 100vh;
    position: absolute;
}
/* bubble */
.wrapper div{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
}
div .dot{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 20%;
    right: 20%;
}
.wrapper div:nth-child(1){
    top:20%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2){
    top:60%;
    left: 80%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3){
    top:40%;
    left: 40%;
    animation: animate 5s linear infinite;
}
.wrapper div:nth-child(4){
    top:66%;
    left: 30%;
    animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5){
    top:90%;
    left: 10%;
    animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6){
    top:30%;
    left: 60%;
    animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7){
    top:70%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8){
    top:75%;
    left: 40%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9){
    top:50%;
    left: 50%;
    animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10){
    top:45%;
    left: 70%;
    animation: animate 9s linear infinite;
}
.wrapper div:nth-child(11){
    top:20%;
    left: 70%;
    animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12){
    top:45%;
    left: 80%;
    animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13){
    top:30%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14){
    top:60%;
    left: 5%;
    animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15){
    top:90%;
    left: 90%;
    animation: animate 9s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(70deg);
    }
    100%{
        transform: scale(1.3) translateY(-100px) rotate(0deg);
    }
}
/* typing animation */
.animate-txt{
    color: #76ABAE !important;
}
 .btn-1{
    color: #76ABAE !important;
    border: 2px solid #76ABAE !important;
 }


 .btn-1:hover{
    background-color: #76ABAE !important;
    color: white !important;
 }
 /* about me  */
.bg-about{
    /* background-color: #374045; */
    background-color: #212529 ;
    position: relative; 
    z-index: -3;
    /* background-color: #343a40 !important; */
}
.bg-about::before{
    margin: 2rem; 
    content: "about me"; 
    position: absolute; 
    text-transform: uppercase;
    color: #2b2d30!important;
    top: 0; 
    left: 20%; 
    z-index: -1; 
    font-size: 8vw;
    font-weight: bold;
    
}

@media screen and (min-width:200px) and (max-width: 570px){
   
    .bg-about::before{
       
        top: 15%; 
        left: 17%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:571px) and (max-width: 771px){
   
    .bg-about::before{
       
        top: 12%; 
        left: 18%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:771px) and (max-width: 991px){
   
    .bg-about::before{
       
        top: 7%; 
        left: 19%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
 .about-h{
    color:  #76ABAE !important;
 }
.slide-ber-size{
    width: 10%;
}
.progress-bar{
    background-color: #76ABAE !important;
}
.bg-img{
    background-color: #76ABAE !important;
}
.btn-2{
    background-color: #76ABAE !important;
    color: white !important;
}
.btn-2:hover{
    background-color: #21252900 !important;
    border:  2px solid #76ABAE !important;
}
/* counter */
/* .bg-counter{
    background-color: black;
} */
.border-color{
    border-right:1px solid #76ABAE ;
}
@media screen and (min-width:200px) and (max-width: 991px){
    .border-color{
        border-right:none !important ;
    }
}
/* service */
.bg-service{
    background-color: #374045;  
    position: relative; 
    z-index: -3;
}
.bg-service::before{
    margin: 2rem; 
    content: "service"; 
    position: absolute; 
    text-transform: uppercase;
    color: #2b2d30!important;
    top: 0; 
    left: 28%; 
    z-index: -1; 
    font-size: 8vw;
    font-weight: bold;
}
@media screen and (min-width:200px) and (max-width: 570px){
   
    .bg-service::before{
       
        top: 15%; 
        left: 23%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:571px) and (max-width: 771px){
   
    .bg-service::before{
       
        top: 12%; 
        left: 23%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:771px) and (max-width: 991px){
   
    .bg-service::before{
       
        top: 7%; 
        left: 25%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
.bg-service-1{
    background-color:#374045 ;
}
.icon{
    color: #76ABAE !important;
}
.bg-ser-card{
    background-color: #374045 !important;
}
.bg-ser-card:hover{
    background-color: #76ABAE !important;
}
.icon:hover{
    color: white !important;
    background-color: #76ABAE !important;
}
/* resume */
.bg-resume{
    background-color: #212529 ;
    position: relative; 
    z-index: -3;  
}
.bg-resume::before{
    margin: 2rem; 
    content: "summary"; 
    position: absolute; 
    text-transform: uppercase;
    color: #2b2d30!important;
    top: 0; 
    left: 21%; 
    z-index: -1; 
    font-size: 8vw;
    font-weight: bold;
}

@media screen and (min-width:200px) and (max-width: 570px){
   
    .bg-resume::before{
       
        top: 16%; 
        left: 18%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:571px) and (max-width: 771px){
   
    .bg-resume::before{
       
        top: 12%; 
        left: 18%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:771px) and (max-width: 991px){
   
    .bg-resume::before{
       
        top: 7%; 
        left: 19%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}

.head-color{
    color: #76ABAE !important;
}
/* skills */

.bg-gress{
    background-color: #76ABAE !important;

}
.progress{
 border: 2px solid #748086!important;
}
/* hire me */
.bg-hire{
    background-image: url(./image//blue-technology-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    position: relative !important;
}
.bg-hire::before{
    background-size: cover;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(11, 11, 11, 0.732);
}
/* portfolio */
.bg-portfolio{
    background-color: #374045;  
    position: relative; 
    z-index: -3;
}
.bg-portfolio::before{
    margin: 2rem; 
    content: "portfolio"; 
    position: absolute; 
    text-transform: uppercase;
    color: #2b2d30!important;
    top: 0; 
    left: 21%; 
    z-index: -1; 
    font-size: 8vw;
    font-weight: bold;
}

@media screen and (min-width:200px) and (max-width: 570px){
   
    .bg-portfolio::before{
       
        top: 18%; 
        left: 17%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:571px) and (max-width: 771px){
   
    .bg-portfolio::before{
       
        top: 14%; 
        left: 18%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:771px) and (max-width: 991px){
   
    .bg-portfolio::before{
       
        top: 7%; 
        left: 19%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}

.bg-portfolio-1{
    background-color:#374045 ;
}
.img-card{
    height: 260px;
    overflow: hidden;
}
.img-card img{
    height: 260px;
}
 .port{
     height: 100%;
     width: 100%;
     right: -100%;
     top: 0%;
     transition: 2s;
     position: absolute;
     background: #0303039c;
     backdrop-filter: blur(5px);
}

.img-card:hover .port {
    right: 0%;
  
}
.port-1{
    height: 100%;
    width: 100%;
    left: 0%;
    top: -100%;
    transition: 2s;
    position: absolute;
    background: #0303039c;
    backdrop-filter: blur(5px);
}
.img-card:hover .port-1{
    top: 0%;
}
.port-2{
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0%;
    transition: 2s;
    position: absolute;
    background: #0303039c;
    backdrop-filter: blur(5px);
}
.img-card:hover .port-2{
    left: 0%;
}
.port-3{
    height: 100%;
    width: 100%;
    left: 0%;
    bottom: -100%;
    transition: 2s;
    position: absolute;
    background: #0303039c;
    backdrop-filter: blur(5px);
}
.img-card:hover .port-3{
    bottom: 0%;
}
/* contact */
.bg-contact{
    background-color: #212529 ;
    position: relative; 
    z-index: -3;  
}
.bg-contact::before{
    margin: 2rem; 
    content: "contact"; 
    position: absolute; 
    text-transform: uppercase;
    color: #2b2d30!important;
    top: 0; 
    left: 24%; 
    z-index: -1; 
    font-size: 8vw;
    font-weight: bold;
}

@media screen and (min-width:200px) and (max-width: 570px){
   
    .bg-contact::before{
       
        top: 15%; 
        left: 20%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:571px) and (max-width: 771px){
   
    .bg-contact::before{
       
        top: 10%; 
        left: 23%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}
@media screen and (min-width:771px) and (max-width: 991px){
   
    .bg-contact::before{
       
        top: 7%; 
        left: 23%; 
        z-index: -1; 
        font-size: 10vw;
       
    }
}

.contact-icon{
  color: #76ABAE !important; 
}
.foo-icon li::before{
    content: attr(data-tooltip);
    width: 100px;
    height: 40px;
    background-color: #374045 ;
  
    position: absolute;
    top: -50px;
    
    left: -30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
   word-wrap: break-word;
   transition: all 0.5 ease;
   opacity: 0;
}
.foo-icon li::after{
 content: "";
 position: absolute;
 top: -10px;
 left: 3px;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-top: 10px solid #374045 ;
 border-bottom: 10px solid transparent;
 transition: all 0.5 ease;
 opacity: 0;
}
.foo-icon li:hover::before,
.foo-icon li:hover::after{
    opacity: 1;
}
.input-color{
    background-color: #212121 !important;
}
